---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Fancy Alpaca Ranch | Jeff Douglas">
  <section class="page">
    <div class="container">
      <header class="page__header">
        <h1 class="page__title">Fancy Alpaca Ranch</h1>
      </header>
      
      <div class="page__image">
        <img src="/images/fancy-alpaca-ranch2.jpg" alt="Fancy Alpaca Ranch" />
      </div>
      
      <div class="page__content" style="text-align: center;">
        <img src="/images/fancy-alpaca-ranch-logo.jpg" alt="Fancy Alpaca Ranch Logo" style="max-width: 400px; margin: 0 auto 2rem;" />
        
        <p>My wife and I own a small farm in Florida where we raise Alpacas and Llamas. Watch the antics of Chewpacca, Al Pacacino, Professor Potato Salad, Chip, Newton and Lt. Fancy Pants on Instagram at <a href="https://www.instagram.com/fancyalpacaranch/" target="_blank">Fancy Alpaca Ranch</a>.</p>
      </div>
    </div>
  </section>
</BaseLayout>
